1) Régression linéaire avec 10 variables
2) ML bourin toutes les variables
3) Selection de variables Lasso/ridge
4) réduc dimension

In [110]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [102]:
list_data = ["https://www.data.gouv.fr/fr/datasets/r/f982ee4a-b2db-4608-ab95-bfe51dfc4897", # Description individus
"https://www.data.gouv.fr/fr/datasets/r/099351b9-e32e-4e38-8f23-dec21fd07c71", # habitudes individus
"https://www.data.gouv.fr/fr/datasets/r/e9a34b81-2105-4d82-a023-c14947fb2b2c", # sédentarité
"https://www.data.gouv.fr/fr/datasets/r/e7f48716-368f-48e1-a7c3-ea0638b0d6a7"] # apport nutrition

In [103]:
desc_indiv = pd.read_csv(list_data[0],sep=";").infer_objects()

/tmp/ipykernel_257/417239065.py:1: DtypeWarning: Columns (88) have mixed types. Specify dtype option on import or set low_memory=False.
  desc_indiv = pd.read_csv(list_data[0],sep=";").infer_objects()

In [93]:
habit_indiv = pd.read_csv(list_data[1],sep=";").infer_objects()

/tmp/ipykernel_257/2795867239.py:1: DtypeWarning: Columns (8,14,16,36,45,60,61,62,63,195) have mixed types. Specify dtype option on import or set low_memory=False.
  habit_indiv = pd.read_csv(list_data[1],sep=";").infer_objects()

In [94]:
sedent = pd.read_csv(list_data[2],sep=";").infer_objects()

In [95]:
apport_nut = pd.read_csv(list_data[3],sep=";").infer_objects()

In [96]:
sedent = sedent.drop(
    ['POPULATION'],
    axis=1,
)

In [104]:
desc_indiv = desc_indiv.drop(
    ['NOMEN', 'taille_m', 'taille_d', 'taille', 'poids_m', 'poids_d', 'poids'],
    axis=1,
)

In [72]:
habit_indiv = habit_indiv.drop(
    ['POPULATION'],
    axis=1,
).dropna(
    axis=1, how='all'
)

In [73]:
apport_nut = apport_nut.drop(
    ['POPULATION'],
    axis=1,
).dropna(
    axis=1, how='all'
)

In [86]:
desc_indiv.head()

,NOIND,ech,enf_allaite,pop1,pop2,pop3,pond_indiv_adu_pop1,pond_indiv_enf_pop1,pond_indiv_adu_pop2,pond_indiv_enf_pop2,...,fume_age_debut_nsp,fume_age_arret,fume_age_arret_nsp,bmr_kcal,sousest0,surest0,sousest1,sousest3,sousext,surext
0,110100101,1,NaN,1,1,1,11415.498010,NaN,18553.734263,NaN,...,NaN,NaN,NaN,1378.0930,0.0,0.0,0.0,NaN,0.0,0.0
1,110100701,1,NaN,1,1,1,4644.245013,NaN,4656.461407,NaN,...,NaN,NaN,NaN,1352.7802,1.0,0.0,1.0,NaN,0.0,0.0
2,110100801,1,NaN,1,1,1,6016.879562,NaN,6307.757457,NaN,...,NaN,33.0,NaN,1630.9735,0.0,0.0,0.0,NaN,0.0,0.0
3,110101201,1,NaN,1,1,1,1782.445803,NaN,2041.062541,NaN,...,NaN,NaN,NaN,1749.4603,0.0,0.0,0.0,NaN,0.0,0.0
4,110101401,1,NaN,1,1,1,2359.105604,NaN,2455.423813,NaN,...,NaN,NaN,NaN,1090.1117,0.0,0.0,0.0,NaN,0.0,0.0

In [ ]:
list_var = [
"NOIND",
"imc",
"sex_PS",
"tage_PS",
"tage_PS_mois",
"diplome_interv",
"etude_4cl_interv",
"situ_prof_5cl_interv",
"atrav_interv",
"trav_nuit_interv",
"trav_nuit_2cl_interv",
"PCS_8cl_interv",
"PCS_4cl_interv",
"tps_travail_interv",
"vacances_interv",
"soins",
"situ_fin_3cl",
"revenu",
"RUC_4cl",
"nbpers",
"nbadu",
"nbenf",
"situ_alim_statut",
"IA_statut",
"IA_score",
"statnut",
"maladie_allergie_alim",
"intoall_confirm_med",
"regime_vegetarien",
"regime_allergie",
"regime_maigrir_med",
"regime_maigrir_choix",
"regime_autre_med",
"regime_poidsstable",
"regime_forme",
"regime_autreraison",
"regime_non",
"veget_viande",
"veget_prodmer",
"veget_prodlait",
"veget_oeuf",
"veget_miel",
"veget_autre_alim",
"allergie_laitvache",
"allergie_prepainfsoja",
"allergie_prepainfamande",
"allergie_gluten",
"allergie_farineble",
"allergie_lupin",
"allergie_arachide",
"allergie_fruitcoque",
"allergie_oeuf",
"allergie_poisson",
"allergie_crustace",
"allergie_mollusque",
"allergie_soja",
"allergie_sesame",
"allergie_moutarde",
"allergie_sulfite",
"allergie_celeri",
"allergie_autres_fruitleg",
"allergie_autresalim",
"allergie_nondetermine",
"allergie_fruits",
"allergie_legumes",
"regime_passe",
"regime_nb_2dernann",
"regime_nb_anter2dernann",
"regime_type" ,
"regime_duree_sem",
"regime_duree_mois",
"regime_duree_nsp" ,
"poids_modif",
"poids_modifalim",
"poids_plusAP",
"poids_medicaments",
"poids_substituts",
"poids_chirurgie",
"poids_modifalim_laityaourt",
"poids_modifalim_fromage",
"poids_modifalim_mg",
"poids_modifalim_fruit",
"poids_modifalim_legume",
"poids_modifalim_pdtfeculent",
"poids_modifalim_pizza",
"poids_modifalim_pain",
"poids_modifalim_vrouge",
"poids_modifalim_volaille",
"poids_modifalim_oeuf",
"poids_modifalim_gateau",
"poids_modifalim_edulcorant",
"poids_modifalim_pdtsalleges",
"poids_modifalim_BS",
"poids_modifalim_eau",
"poids_modifalim_autre",
"poids_perception" ,
"nb_prise_10kg",
"menopause",
"enceinte",
"enceinte_nbmois",
"allaite",
"allaite_nbsem",
"enceinte_12dermois",
"fume",
"nb_cigarettes_jour",
"nb_cigarettes_sem",
"nb_cigarettes_nsp",
"nb_cigares_jour",
"nb_cigares_sem",
"nb_cigares_nsp",
"nb_pipes_jour",
"nb_pipes_sem",
"nb_pipes_nsp",
"fume_age_debut",
"fume_age_debut_nsp",
"fume_age_arret",
"fume_age_arret_nsp",
"bmr_kcal"]

In [120]:
new_data = desc_indiv[list_var]

In [125]:
new_data = new_data.dropna(subset=['imc'])

,NOIND,imc,sex_PS,tage_PS,tage_PS_mois,diplome_interv,etude_4cl_interv,situ_prof_5cl_interv,atrav_interv,trav_nuit_interv,...,nb_cigares_sem,nb_cigares_nsp,nb_pipes_jour,nb_pipes_sem,nb_pipes_nsp,fume_age_debut,fume_age_debut_nsp,fume_age_arret,fume_age_arret_nsp,bmr_kcal
0,110100101,18.282312,1,7,NaN,7.0,1,3,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1378.0930
1,110100701,23.624619,2,8,NaN,7.0,1,1,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1352.7802
2,110100801,29.949701,1,8,NaN,7.0,1,1,NaN,4.0,...,NaN,NaN,0.0,NaN,NaN,25.0,NaN,33.0,NaN,1630.9735
3,110101201,26.141914,1,8,NaN,10.0,3,1,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1749.4603
4,110101401,22.420361,2,9,NaN,7.0,1,4,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1090.1117
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5850,827510001,18.099375,2,5,NaN,12.0,4,1,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1309.2457
5851,827804601,14.955483,1,5,NaN,7.0,1,1,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5852,828402601,20.687473,1,5,NaN,7.0,1,1,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1533.3022
5853,828402701,20.538029,2,6,NaN,9.0,2,4,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1369.3202
5854,829207801,18.827110,2,6,NaN,6.0,1,1,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1294.6165

SAUVEGARDER LES DONNEES DANS MINIO

In [108]:
TARGET_VARIABLE="imc"
SEED=2023

In [129]:
FEATURES = [
    "sex_PS",
    "tage_PS",
    "tage_PS_mois",
    "diplome_interv",
    "soins",
    "situ_fin_3cl",
    "revenu",
    "situ_alim_statut",
    "IA_statut",
    "IA_score",
    "statnut",
    "poids_perception" ,
    "nb_prise_10kg",
    "menopause",
    "enceinte",
    "enceinte_nbmois",
    "enceinte_12dermois",
    "bmr_kcal"
]

In [130]:
X = new_data[FEATURES]
y = new_data[TARGET_VARIABLE]

In [131]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=SEED)

In [132]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4684 entries, 2682 to 4951
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   sex_PS              4684 non-null   int64
 1   tage_PS             4684 non-null   int64
 2   tage_PS_mois        201 non-null    float64
 3   diplome_interv      4683 non-null   float64
 4   soins               4684 non-null   int64
 5   situ_fin_3cl        4684 non-null   int64
 6   revenu              4684 non-null   int64
 7   situ_alim_statut    4684 non-null   int64
 8   IA_statut           4684 non-null   int64
 9   IA_score            807 non-null    float64
 10  statnut             4675 non-null   float64
 11  poids_perception    2584 non-null   float64
 12  nb_prise_10kg       1707 non-null   float64
 13  menopause           1030 non-null   float64
 14  enceinte            671 non-null    float64
 15  enceinte_nbmois     17 non-null     float64
 16  enceinte_12dermois  669 non-null    float64
 17  bmr_kcal            3280 non-null   float64
dtypes: float64(11), int64(7)
memory usage: 695.3 KB